<a href="https://colab.research.google.com/github/matatfreecoder/Data-Science-by-Courcera/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science;
- Discover open-source tools for Data Science;
- Investigate Data Science Libraries.

Some of the popular languages that Data Scientists use are:

1. R
2. Python
3. Java
4. Julia
5. SQL
6. Java
7. C++

Some of the commonly used libraries used by Data Scientists include:
1. ggplot2
2. Lattice
3. Pandas
4. PixieDust
5. MLeap

|Data Science Tools|
|------------------|
|Jupyter Lab|
|RStudio|
|MySQL|

### Below are a few examples of evaluating arithmetic expressions in Python
"+" is used for addition,
"-" for subtraction,
"*" for multiplication,
"/" for division,
"%" for remainder.

In [ ]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [ ]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Natalia Matat